.aboutMe{
    border: 1px solid darkgrey;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.2),
                inset 0 -4px 8px rgba(0, 0, 0, 0.1),
                inset 0 -8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 3% 7% 3% 7%;
    width: 80%;
    text-align: center;
    padding-block-end: auto;
}

