/* Universal Styles */
.navbar {
    background-color: navy;
    overflow: hidden;
    position: fixed;
    top: 0;
    min-width: 400px ;
    width: auto; /* Adjusted to 100% for full width */
    min-height: 40px;
    max-height: 50px;
    z-index: 1000;
    display: flex;
    justify-content: center; /* Default justify-content */
    align-items: center;
    padding: 1rem 0; /* Added padding for consistency */
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none; /* Default to none for mobile-first approach */
    align-items: center;
    width: 100%;
    justify-content: center;
}

.nav-list.active {
    display: flex; /* Show when active, applies to all views */
}

.choice {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    display: block;
}

.choice:hover {
    background-color: rgb(59, 59, 152);
    color: whitesmoke;
}

/* Desktop View */
@media (min-width: 769px) {
    .nav-list {
        display: flex; /* Flex display for desktop */
    }

    .choice {
        margin: 0 6%; /* Margin to space out choices */
        text-align: center;
    }

    .navbar {
        justify-content: center; /* Center items in navbar */
        padding: 0; /* Remove padding for desktop */
        width:100%;
    }
}

/* Mobile View Specifics */
@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        width:100%;
    }

    .choice {
        text-align: left; /* Align text to the left on mobile */
    }

    .menu-toggle {
        cursor: pointer;
        display: inline-block;
        align-items: flex-start;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #fff;
    }
}
