.content-title {
    font-size: x-large;
    font-weight: bold; 
    margin: 4%;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3% 7%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.2),
    inset 0 -4px 8px rgba(0, 0, 0, 0.1),
    inset 0 -8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid darkgrey;
    border-radius: 12px;
    padding: 3%;
}

.progress {
    width: 0;
    height: 20px;
    background-color: #e4c465;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
    animation: progressBar 3s ease-in-out forwards;
}

.skills__skill {
    border: 1px solid darkgrey;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.2),
    inset 0 -4px 8px rgba(0, 0, 0, 0.1),
    inset 0 -8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 1%;
    width: 20%;
    text-align: center;
}

.skills__skill:hover {
    background-color: lightblue;
}

@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}

@media screen and (max-width:600) {
    .skills{
        display: block;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 3% 7%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.2),
        inset 0 -4px 8px rgba(0, 0, 0, 0.1),
        inset 0 -8px 16px rgba(0, 0, 0, 0.2);
        border: 1px solid darkgrey;
        border-radius: 12px;
        padding: 3%;
        font-size: auto;
    }
}