  .jumbotron {
    margin: 10px;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: capitalize;
    color: white;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 100vh;
    padding-top: 12%;
    width: auto;
  }

  .p {
    font-family: 'Crimson Text', serif;
    text-align: center;
    height: fit-content;
    max-width: 80%;
    padding: auto;
  }