/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
/* Add a background color and some padding to the page */
body {
background-color: #f2f2f2;
padding: 20px;
}

/* Style the header */
header {
background-color: #333;
color: white;
text-align: center;
padding: 10px;
}

/* Style section titles */
h2 {
background-color: #333;
color: white;
padding: 10px;
margin: 3% 5%;
}

/* Style the project articles */
.project {
background-color: #fff;
margin: 10px 0;
padding: 3%;
}

/* Style the contact section */
#contact {
background-color: #ccc;
padding: 3%;
}

#contactButton {
  position: fixed;
  bottom: 20px; /* Distance from bottom */
  right: 20px; /* Distance from right */
  padding: 10px 20px;
  background-color: navy; /* Or any color you prefer */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other elements */
  padding: 10px 20px;
  border: 1px solid navy;
  background-color: navy;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkgray;
  align-content: center;
}

.App-link {
  color: #79c2d6;
}

.logo{
  height:7%;
  width:7%;
  object-fit: cover;
  margin: 2%;
}
.logos{
  display: inline-block;
}

.full-height-section {
  height: 100vh;
  width: 100%; /* Optional, if you also want the section to be full width */
  display: flex;
  justify-content: center;
  align-items: center; /* These flex properties center content vertically and horizontally */
}

html {
  scroll-behavior: smooth;
}

/* make the site availiable for smaller screens */
@media screen and (max-width: 600px) {
  body {
    width: 100%;
    font-size: large;
  }

}
